.image-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height:150px;
  margin-bottom: 10px;
}
.book-image {
  max-height: 150px;
  max-width: 100%;
  object-fit: cover;
}
.book-title {
  height: 3.5em;
  overflow: hidden;
}
.description {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detail-btn {
  display: block;
  width: 80%;
  margin: auto;
}
.pagination {
  justify-content: center;
}
.user_name {
  font-size: 1rem;
}
.date {
  margin-bottom: 20px;
}
.date-p {
  margin: 0 auto;
  border: 1px solid rgb(233, 172, 59);
  border-radius: 50%;
  background-color: rgb(242, 166, 25);
  color:white;
  width: 60px;
  font-size: 1.1rem;
  text-align: center;
}
hr {
  border: 1px solid rgba(233, 209, 164, 0.6);
}